p3/src/ImpuestoCirculacionSS.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ics="http://www.unican.es/ss/ImpuestoCirculacion" xmlns:tns="http://www.unican.es/ss/ImpuestoCirculacionSS/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ImpuestoCirculacionSS" targetNamespace="http://www.unican.es/ss/ImpuestoCirculacionSS/">

	<!--  ABSTRACT SECTION -->
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.unican.es/ss/ImpuestoCirculacionSS/types">
			<xsd:import namespace="http://www.unican.es/ss/ImpuestoCirculacion" location="ImpuestoCirculacionSchema.xsd" />
			<complexType name="listaVehiculos">
				<choice maxOccurs="unbounded">
					<element name="vehiculos" type="ics:Vehiculo"></element>
				</choice>
			</complexType>
			<complexType name="datosContribuyente">
				<choice maxOccurs="unbounded">
					<element name="nombre" type="xsd:string"></element>
					<element name="apellido" type="xsd:string"></element>
					<element name="vehiculos" type="tns:listaVehiculos"></element>
				</choice>
			</complexType>
			<xsd:element name="contribuyenteNoDisponible" type="xsd:string" />
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="dniContribuyente">
		<wsdl:part name="params" element="xsd:string" />
	</wsdl:message>
	<wsdl:message name="datosContribuyente">
		<wsdl:part name="params" element="tns:datosContribuyente" />
	</wsdl:message>


	<wsdl:message name="ContribuyenteNoDisponibleException">
		<wsdl:part name="params" element="tns:contribuyenteNoDisponible" />
	</wsdl:message>

	<wsdl:portType name="IImpuestoCirculacionSS">
		<wsdl:operation name="peliculvalorImpuestoContribuyenteasActor">
			<wsdl:input message="tns:dniContribuyente" />
			<wsdl:output message="xsd:double" />
			<wsdl:fault name="contribuyenteDNIError" message="tns:ContribuyenteNoDisponibleException" />
		</wsdl:operation>
		<wsdl:operation name="datosContribuyente">
			<wsdl:input message="tns:dniContribuyente" />
			<wsdl:output message="tns:datosContribuyente" />
			<wsdl:fault name="contribuyenteDNIError" message="tns:ContribuyenteNoDisponibleException" />
		</wsdl:operation>
	</wsdl:portType>

	<!--  CONCRETE SECTION -->

	<wsdl:binding name="ImpuestoCirculacionSSSOAP" type="tns:IImpuestoCirculacionSS">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="valorImpuestoContribuyente">
			<soap:operation style="document" soapAction="http://www.unican.es/ss/ImpuestoCirculacionSS/valorImpuestoContribuyente" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="contribuyenteDNIError">
				<soap:fault name="contribuyenteDNIError" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="datosContribuyente">
			<soap:operation style="document" soapAction="http://www.unican.es/ss/ImpuestoCirculacionSS/datosContribuyente" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
				<soap:body use="literal" />
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="contribuyenteDNIError">
				<soap:fault name="contribuyenteDNIError" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="ImpuestoCirculacionSS">
		<wsdl:port name="ImpuestoCirculacionSSPort" binding="tns:ImpuestoCirculacionSSSOAP">
			<soap:address location="www.example.org/ImpuestoCirculacionSS" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>